@import "vars";
@import "global";
// @import "fonts";
//header start
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

.logo {
    z-index: 20;
    position: relative;
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
    &-item+.menu__list-item {
        margin-left: 24px;
    }
    &-link {
        color: #2F281E;
        font-size: 14px;
        line-height: 28px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
}

.menu__btn {
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: none;
    span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #BCD0E5;
        position: absolute;
        left: 0;
        top: 14px;
    }
    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: #BCD0E5;
        left: 0;
    }
    &::after {
        top: 0;
    }
    &::before {
        bottom: 0;
    }
}

.user-nav {
    margin-left: 52px;
    margin-right: 13px;
    &__link {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        padding: 11px 23px;
        border: 1px solid #BCD0E5;
        border-radius: 4px;
        &+& {
            margin-left: 14px;
            color: #fff;
            background-color: $orange;
            border-color: transparent;
        }
    }
}

.top {
    &__inner {
        padding: 133px 0 80px;
        background-image: url(../images/top-bg.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
    }
    &__title {
        font-size: 44px;
        line-height: 54px;
        font-weight: 700;
        margin-bottom: 30px;
        max-width: 518px;
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 45px;
        max-width: 458px;
    }
    &__btn {
        margin-right: 30px;
    }
    &__link {
        display: inline-block;
        font-weight: 600;
        color: $orange;
        line-height: 24px;
        text-decoration: underline;
        padding-left: 25px;
        position: relative;
        &::before {
            content: "";
            background-image: url(../images/play.svg);
            position: absolute;
            left: 0;
            top: 2px;
            width: 17px;
            height: 19px;
        }
    }
}

.tools {
    padding-top: 110px;
    &__title {
        font-size: 36px;
        line-height: 54px;
        max-width: 539px;
        text-align: center;
        margin: 0 auto 46px;
        font-weight: 700;
    }
    &__inner {
        padding: 90px 0;
        background-image: url(../images/tools-bg.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        padding: 8px 15px;
        margin-bottom: 52px;
    }
    &__item {
        width: 240px;
        &-img {
            margin-bottom: 20px;
        }
        &-title {
            font-size: 22px;
            line-height: 33px;
            font-weight: 600;
            margin-bottom: 13px;
        }
    }
    &__link {
        display: block;
        margin: 0 auto;
        background-color: $orange;
        padding: 15px 32px;
        border-radius: 4px;
        color: #fff;
        font-weight: 700;
        line-height: 24px;
        width: 175px;
        text-align: center;
    }
}

.direction {
    padding: 120px 0 100px;
    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
        &-content {
            max-width: 486px;
        }
        &-pretitle {
            margin-bottom: 3px;
        }
        &-title {
            margin-bottom: 22px;
            font-size: 36px;
            line-height: 54px;
            font-weight: 700;
        }
        &-titletext {
            margin-bottom: 30px;
        }
        &-subtitle {
            font-weight: 700;
            margin-bottom: 13px;
        }
        &-text {
            margin-bottom: 22px;
        }
    }
}

.direction__list-item {
    margin-bottom: 30px;
    padding-left: 65px;
    position: relative;
    &::before {
        content: "";
        background-image: url(../images/direction-icon.svg);
        width: 35px;
        height: 35px;
        position: absolute;
        left: 0;
        top: 8px;
    }
}

.team {
    background-image: url(../images/team-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    &__inner {
        padding: 230px 0 380px;
        position: relative;
    }
    &__box {
        text-align: center;
        max-width: 542px;
        margin: 0 auto;
    }
    &__title {
        font-size: 36px;
        line-height: 54px;
        font-weight: 700;
        margin-bottom: 22px;
    }
    &__text {
        margin-bottom: 45px;
        color: #567592;
    }
    &__item {
        position: absolute;
        height: 98px;
        width: 98px;
        &-img {
            width: 98px;
            height: 98px;
            border-radius: 50%;
            overflow: hidden;
        }
        &--1 {
            right: 95px;
            top: 157px;
        }
        &--2 {
            left: 0px;
            top: 200px;
        }
        &--3 {
            right: 0px;
            bottom: 250px;
        }
        &--4 {
            right: 33%;
            bottom: 130px;
        }
        &--5 {
            left: 259px;
            bottom: 250px;
        }
        &-text {
            position: absolute;
            background-color: #fff;
            padding: 14px 20px 15px;
            color: #2f281e;
            border-radius: 26px;
            white-space: nowrap;
            right: 75px;
            top: -30px;
            &--left {
                left: 75px;
                right: auto;
            }
        }
    }
}

.team__item-text--right::after,
.team__item-text--right::before,
.team__item-text--left::after,
.team__item-text--left::before {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
}

.team__item-text--right::after,
.team__item-text--left::after {
    width: 17px;
    height: 17px;
    bottom: -7px;
    right: 30px;
}

.team__item-text--right::before,
.team__item-text--left::before {
    width: 9px;
    height: 9px;
    bottom: -17px;
    right: 9px;
}

.team__item-text--left::before {
    left: 9px;
}

.team__item-text--left::after {
    left: 30px;
}

.strateg {
    padding: 30px 0 120px;
    &__title {
        font-size: 34px;
        line-height: 51px;
        font-weight: 700;
        margin-bottom: 12px;
    }
    &__text {
        margin-bottom: 55px;
    }
    &__slider {
        margin: 0 -20px;
    }
    &__item {
        padding: 0 20px;
        &:hover {
            .strateg__item-title {
                color: $orange;
            }
        }
    }
    &__img {
        width: 348px;
        height: 185px;
        object-fit: cover;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        margin-bottom: 25px;
    }
    &__date {
        a {
            font-weight: 700;
        }
        margin-bottom: 12px;
        line-height: 28px;
    }
    &__item-title {
        font-size: 24px;
        line-height: 34px;
        font-weight: 700;
        transition: all 0.3s;
        width: 294px;
        margin-bottom: 50px;
    }
}

.slick-dots {
    text-align: center;
    button {
        display: none;
    }
    li {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #EFEFEF;
        margin-right: 10px;
        transition: all 0.3s;
        cursor: pointer;
    }
    .slick-active {
        background-color: $orange;
    }
}

.footer {
    &__inner {
        border-top: 1px solid rgba(188, 208, 229, 0.496913);
        padding: 105px 0 100px;
        display: flex;
        justify-content: space-between;
    }
    &__menu {
        width: 135px;
    }
    &__link {
        line-height: 35px;
    }
    form {
        width: 330px;
    }
    &__input {
        display: inline-block;
        width: 100%;
        height: 48px;
        border: 1px solid #BCD0E5;
        border-radius: 4px;
        padding: 0 15px;
        margin-bottom: 21px;
        &::placeholder {
            color: #BCD0E5;
        }
    }
    &__btn {
        padding: 8px 15px;
    }
}

.footer__menu-title,
.footer__form-text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 35px;
    max-width: 283px;
}

//header end
@import 'media';